* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
    Regole Comuni 
*/
.fs-18 {
    font-size: 18px;
}
.t_up{
    text-transform: uppercase;
}
.t_al-c {
    text-align: center;
}
.t_al-l {
    text-align: left;
}
.show {
    display: block !important;
}
.d-none {
    display: none;
}
.d-in-block {
    display: inline-block;
}
.d-flex {
    display: flex;
}
.justify_between {
    justify-content: space-between;
}
.justify_around {
    justify-content: space-around;
}
.cur {
    cursor: pointer;
}
/* 
    Corpo Pagina
*/
body {
    background-image: linear-gradient(to right top, #ff0000, #d2001f, #a20027, #710826, #420f1d, #420f1d, #24080f, #420f1d, #710826, #a20027, #d2001f, #ff0000);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}
main {
    width: 80%;
    margin: 1rem auto;
}
/* Titoli e Testi */
h1 {
    color: #fff;
    text-shadow: 3px 3px 5px #000000;
    font-size: 28px;
    padding-top: 30px;
}
#container_ticket > h3 {
    text-shadow: 2px 2px 3px #393939;
}
#container_ticket > h2 {
    padding-right: 60%;
}
/* Messaggio Caricamento */
.fa-spinner {
    padding: 0 5px;
    animation: change-color 2s linear 0s infinite;
}
/* Contenitori  */
label[for="nome"],
label[for="eta"],
label[for="distanza"] {
    font-weight: bold;
    padding-bottom: 30px;
    text-shadow: 1px 2px 2px #585858;
}
#ticket_display,
#calc_ticket {
    border: 2px solid #000;
    padding: 30px 0;
    margin-top: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: #ffffff98;
    box-shadow: 4px 5px 8px #363636;
}
input,
select {
    width: 220px;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid;
    box-shadow: 4px 3px 8px #24080f;
}
/* Biglietto Treno */
#ticket_display {
    height: 275px;
    align-items: center;
}
#container_ticket {
    padding: 0 30px;
    width: 100%;
}
#passenger_name-data {
    padding: 30px 0 0;
    width: 25%;
    background-color: #151515;
    color: #fff;
}
#nameP,
ul li p {
    padding-top: 80px;
    margin-bottom: -100px;
}
ul {
    width: 80%;
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
}
ul li {
    list-style-type: none;
    padding: 30px 15px 142px 20px;
}
/* Bottoni */
.btn {
    margin: 70px 10px 50px;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 4px 3px 8px #24080f;
}
/* 
    Hover e Animazioni 
*/
.btn:hover,
input:hover,
select:hover {
    opacity: 0.6;
}
@keyframes change-color {
    from {
        color:rgb(0, 255, 89);
        transform: rotate(0deg)
    }
    50% {
        color: red;
    }
    100% {
        transform: rotate(360deg);
        color: rgb(26, 0, 128);
    }
}
